.model {
  min-height: 30rem;
  width: 37rem;
  border-radius: 1rem;
  background-color: #2b2c37;
  padding: 2rem;
}
.model .desc {
  color: #758093;
  text-align: left;
}
popup .model {
  font-size: 12px;
  background-color: blue;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.modal input {
  color: white;
}
.model-input {
  background-color: transparent;
  border: 1px solid #3b3b47;
  color: #5b5b67;
  height: 2.5rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.375rem;
}

.subTask {
  position: relative;
}

.deleteIconContainer {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.subTask:hover .deleteIconContainer {
  opacity: 1;
}

.deleteIcon {
  cursor: pointer;
}
/* animation */

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
@keyframes changeColor {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
.popup-overlay {
  background-color: rgba(0, 0, 0, 1);
  -webkit-animation: changeColor 0.5s forwards;
}
